{
    //говорим babel запустить babel-preset-env.
    //Когда бы babel не запустился, он смотрим на этот файл
    //видит что в качестве presets выбран babel-preset-env, проверяет, что данный модуль установлен
    //и запустит правила описанные в данном модуле для все файлов соответствующих регулярному выражению
    //заданному в свойствах webpack -> test
    "presets": [
        "babel-preset-env"
    ]
}